@model MVCWebApplication.Models.Card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ccID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ccID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h18)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
