@model MVCWebApplication.Models.Course

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h1lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h1lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h1ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h1ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h2lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h2lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h2ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h2ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h3lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h3lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h3ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h3ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h4lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h4lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h4ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h4ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h5lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h5lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h5ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h5ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h6lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h6lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h6ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h6ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h7lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h7lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h7ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h7ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h8lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h8lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h8ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h8ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h9lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h9lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h9ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h9ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h10lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h10lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h10ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h10ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h11lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h11lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h11ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h11ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h12lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h12lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h12ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h12ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h13lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h13lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h13ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h13ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h14lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h14lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h14ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h14ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h15lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h15lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h15ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h15ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h16lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h16lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h16ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h16ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h17lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h17lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h17ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h17ln)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h18lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h18lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.h18ln)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.h18ln)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
