@model IEnumerable<MVCWebApplication.Models.Card>


    @foreach (var item in Model)
    {

        if (item.ccID == 2 && User.Identity.Name == item.Name)
        {
                <div class="card facebook-card">
                    <div class="card-header no-border">
                        <div class="facebook-avatar">@(@item.h1 + @item.h2 + @item.h3 + @item.h4 + @item.h5 + @item.h6 + @item.h7 + @item.h8 +
            @item.h9 + @item.h10 + +@item.h11 + @item.h12 + @item.h13 + @item.h14 + @item.h15 + @item.h16 + @item.h17 + @item.h18)</div>
                        <div class="facebook-name">@item.CourseName<br />@item.gDate.Value.ToString("M/d/yyyy")</div>
                        
                    </div>
                    <div class="card-content">
                        <table>
                            <tr>
                                @if (item.h1 < 4 && item.h1 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 10</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h1)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h1 > 4 && item.h1 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 10</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h1)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 10</p></div>
                                        @Html.DisplayFor(modelItem => item.h1)
                                    </td>}
                                @if (item.h2 < 4 && item.h2 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 11</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h2)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h2 > 4 && item.h2 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 11</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h2)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 11</p></div>
                                        @Html.DisplayFor(modelItem => item.h2)
                                    </td>}
                                @if (item.h3 < 3 && item.h3 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 12</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h3)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h3 > 3 && item.h3 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 12</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h3)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 12</p></div>
                                        @Html.DisplayFor(modelItem => item.h3)
                                    </td>}
                                @if (item.h4 < 4 && item.h4 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 13</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h4)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h4 > 4 && item.h4 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 13</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h4)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 13</p></div>
                                        @Html.DisplayFor(modelItem => item.h4)
                                    </td>}
                                @if (item.h5 < 3 && item.h5 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 14</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h5)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h5 > 3 && item.h5 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 14</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h5)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 14</p></div>
                                        @Html.DisplayFor(modelItem => item.h5)
                                    </td>}
                                @if (item.h6 < 4 && item.h6 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 15</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h6)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h6 > 4 && item.h6 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 15</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h6)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 15</p></div>
                                        @Html.DisplayFor(modelItem => item.h6)
                                    </td>}
                                @if (item.h7 < 4 && item.h7 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 16</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h7)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h7 > 4 && item.h7 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 16</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h7)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 16</p></div>
                                        @Html.DisplayFor(modelItem => item.h7)
                                    </td>}
                                @if (item.h8 < 5 && item.h8 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 17</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h8)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h8 > 5 && item.h8 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 17</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h8)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 17</p></div>
                                        @Html.DisplayFor(modelItem => item.h8)
                                    </td>}
                                @if (item.h9 < 4 && item.h9 != 0)
                    {
                                    <td>
                                        <div class="score"><p>HOLE 18</p></div>
                                        <div class="h-1">
                                            @Html.DisplayFor(modelItem => item.h9)
                                        </div>
                                    </td>
                                }
                                else
                        if (item.h9 > 4 && item.h9 != 0)
                                {
                                    <td>
                                        <div class="score"><p>HOLE 18</p></div>
                                        <div class="h-7">
                                            @Html.DisplayFor(modelItem => item.h9)
                                        </div>
                                    </td>
                                }
                                else
                                {
                                    <td class="par">
                                        <div class="score"><p>HOLE 18</p></div>
                                        @Html.DisplayFor(modelItem => item.h9)
                                    </td>}
                                <td class="hole" rowspan="2">
                                    <div></div>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td class="distance">
                                    311 ft
                                </td>
                                <td class="distance">
                                    360 ft
                                </td>
                                <td class="distance">
                                    139 ft
                                </td>
                                <td class="distance">
                                    314 ft
                                </td>
                                <td class="distance">
                                    137 ft
                                </td>
                                <td class="distance">
                                    342 ft
                                </td>
                                <td class="distance">
                                    405 ft
                                </td>
                                <td class="distance">
                                    447 ft
                                </td>
                                <td class="distance">
                                    290 ft
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="card-footer no-border">
                        @Html.ActionLink("Edit", "EditCard", "Cards", new { id = item.Id }, new { @class = "button" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "button button-fill color-red" })
                    </div>
                </div>
            }

    }
